.coupon {
  width: 500px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: stretch;
  position: relative;
  text-transform: uppercase;
  transform: translateZ(0);
}

// .coupon {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 20px;
//   border: 1px solid #ddd;
//   border-radius: 10px;
//   background: #fff;
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
//   transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0.3s ease;
// }
.coupon::before,
.coupon::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.coupon::before {
  left: 0;
  background-image: radial-gradient(
    circle at 0 50%,
    transparent 25px,
    gold 26px
  );
}

.coupon::after {
  right: 0;
  background-image: radial-gradient(
    circle at 100% 50%,
    transparent 25px,
    gold 26px
  );
}

.coupon > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 20%;
  border-right: 2px dashed rgba(0, 0, 0, 0.13);
  text-align: center;
}
.left div {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-weight: bold;
}

.center {
  flex-grow: 1;
  text-align: center;
}

.right {
  width: 120px;
  background-image: radial-gradient(
    circle at 100% 50%,
    transparent 25px,
    #fff 26px
  );
  text-align: center;
}
.right div {
  font-family: "imes New Roman", Times, serif, cursive;
  font-size: 1.8rem;
  font-weight: 400;
  transform: rotate(-90deg);
}

.center h2 {
  background: #000;
  color: gold;
  padding: 0 10px;
  font-size: 2.15rem;
  white-space: nowrap;
}

.center h3 {
  font-size: 2.15rem;
}
.center small {
  font-size: 0.625rem;
  font-weight: 600;
  letter-spacing: 2px;
}

// /* Responsive Styles */
@media screen and (max-width: 500px) {
  .coupon {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto auto auto;
    width: 335px;
    // height: auto;
    // gap: 10px;
    font-size: 20px;
  }

  .left {
    width: 20%;
    border-right: none;
    font-size: 0.8rem;
    border-right: 2px dashed rgba(0, 0, 0, 0.13);
  }

  .right div {
    font-family: "Times New Roman", Times, serif, cursive;
    font-size: 1rem;
    font-weight: 700;
    transform: rotate(-90deg);
  }
}
@supports (-webkit-touch-callout: none) {
  .coupon {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  }
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}


.hidden {
  visibility: hidden; /* Element exists but is not visible */
  color: transparent; /* Ensures no accidental text reveal */
}

.visible {
  visibility: visible;
  color: inherit; /* Displays the text normally */
}


main{
  background: linear-gradient(300deg,#c1ecfd,#fdf493,#ae4daf,#6bcae2);
  background-size: 240% 240%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.coupon.hover-effect:hover {
  transform: scale(1.05); /* Slight enlargement */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
  z-index: 10; /* Higher stacking order */
}

#confetti-wrapper {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 3s ease-in-out -2s infinite;
  transform-origin: left top;
  z-index: 9999;
}

.confetti:nth-child(1) {
  background-color: #FCF6B0;
  left: 10%;
  animation-delay: 0;
}

.confetti:nth-child(2) {
  background-color: #78531E;
  left: 20%;
  animation-delay: -5s;
}

.confetti:nth-child(3) {
  background-color: #E3C47A;
  left: 30%;
  animation-delay: -3s;
}

.confetti:nth-child(4) {
  background-color: #896C41;
  left: 40%;
  animation-delay: -2.5s;
}

.confetti:nth-child(5) {
  background-color: #9A5F22;
  
  left: 50%;
  animation-delay: -4s;
}

.confetti:nth-child(6) {
  background-color: #DDC571;
  left: 60%;
  animation-delay: -6s;
}

.confetti:nth-child(7) {
  background-color: #8A5E25;
  left: 70%;
  animation-delay: -1.5s;
}

.confetti:nth-child(8) {
  background-color: #FCDF73;
  left: 80%;
  animation-delay: -2s;
}

.confetti:nth-child(9) {
  background-color: #4F3A20;
  left: 90%;
  animation-delay: -3.5s;
}

.confetti:nth-child(10) {
  background-color: #F0E9A0;
  left: 100%;
  animation-delay: -2.5s;
}

.confetti:nth-child(11) {
  background-color: #F0E9A3;
  left: 72%;
  animation-delay: -5.5s;
}

.confetti:nth-child(12) {
  background-color: #F0E4A0;
  left: 34%;
  animation-delay: -2.8s;
}

.confetti:nth-child(13) {
  background-color: #F0C9A0;
  left: 100%;
  animation-delay: -7.5s;
}

.confetti:nth-child(14) {
  background-color: #F0B9A0;
  left: 16%;
  animation-delay: -8.5s;
}

@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}